@charset "UTF-8";
body {
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
  font-family: "Open Sans Condensed", sans-serif;
  color: #292827;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  border: none; }

p, h2, h1 {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
  transition: 0.4s; }

img {
  max-width: 100%;
  height: auto; }

picture {
  max-width: 100%;
  height: auto; }

*, *:before, *:after {
  box-sizing: border-box; }

.hidden {
  display: none; }

.shown {
  display: block; }

.page-header {
  background-color: black;
  color: white;
  min-height: 80px;
  width: 100%; }
  .page-header__wrapper {
    padding-top: 20px;
    width: auto;
    text-align: right; }
  .page-header__logo {
    text-align: right;
    padding-right: 20px; }
    .page-header__logo img {
      width: 180px; }

.presentation {
  min-height: 300px;
  width: 100%;
  padding-top: 20px;
  line-height: 1.5; }
  .presentation__wrapper {
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 20px; }
  .presentation__name {
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px; }
  .presentation__object {
    max-width: 550px;
    font-size: 16px;
    text-align: right;
    margin-bottom: 45px;
    padding-left: 20px;
    padding-right: 20px; }

.info {
  width: 100%;
  line-height: 1.5;
  padding: 20px;
  padding-top: 40px; }
  .info__wrapper {
    width: auto; }
  .info__header {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px; }
  .info__column {
    text-align: center; }
  .info__text {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: left; }
  .info__advantages-list {
    font-size: 14px;
    margin-bottom: 30px;
    text-align: left; }
  .info__foto {
    margin-bottom: 40px;
    display: flex;
    justify-content: center; }

.projects {
  padding: 20px;
  display: none; }
  .projects__item {
    min-height: 90px;
    border-bottom: 1px solid;
    margin-bottom: 40px; }
  .projects__name-link {
    padding: 15px;
    display: block;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px; }
    .projects__name-link:hover {
      background-color: #6abfbf; }
  .projects__description {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 15px; }

.project__wrapper {
  padding-left: 20px;
  padding-right: 20px; }

.project__title {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  color: black;
  font-weight: bold;
  font-size: 22px;
  text-align: left;
  margin-bottom: 10px;
  text-align: center; }

.project__description {
  font-size: 14px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px; }

.project__image {
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center; }

.skills {
  padding: 30px; }
  .skills__wrapper {
    padding: 0;
    padding-top: 20px; }
  .skills__header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center; }
  .skills__list {
    font-size: 16px;
    font-weight: bold; }

.page-footer {
  min-height: 150px;
  background-color: black;
  color: white; }
  .page-footer__wrapper {
    padding: 20px; }
  .page-footer__social {
    padding: 0;
    text-align: center; }

.main-nav {
  padding: 20px; }
  .main-nav__item {
    padding: 0;
    width: 100%; }
  .main-nav__link {
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    text-align: right;
    min-height: 80px;
    transition: 0.5s;
    border-bottom: 1px solid #a5c6e0;
    color: white;
    display: block; }
    .main-nav__link:hover {
      background-color: white;
      color: black; }
      .main-nav__link:hover .main-nav__text::after {
        left: 0%;
        width: 100%;
        right: 0; }
    .main-nav__link:active {
      background-color: white;
      color: black; }
    .main-nav__link:focus {
      background-color: white;
      color: black;
      border-color: black; }
  .main-nav__text {
    position: relative; }
    .main-nav__text::after {
      content: "";
      position: absolute;
      width: 0;
      top: 1.5em;
      height: 1px;
      left: 50%;
      background: black;
      transition: all 0.3s; }
  .main-nav__item--active {
    background-color: transparent; }
  .main-nav__toggle {
    display: block;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 50px;
    height: 50px;
    font-size: 0;
    text-indent: -9999px;
    box-shadow: none;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: #000000;
    left: 0px;
    top: 0px; }
    .main-nav__toggle span {
      display: block;
      position: absolute;
      top: 24px;
      left: 15px;
      right: 15px;
      height: 2px;
      background-color: #ffffff;
      transition: background-color 0.2s; }
      .main-nav__toggle span::after, .main-nav__toggle span::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        transition-duration: 0.2s, 0.2s;
        transition-delay: 0.2s, 0s; }
      .main-nav__toggle span::before {
        top: -9px;
        transition-property: top, -webkit-transform;
        transition-property: top, transform;
        transition-property: top, transform, -webkit-transform; }
      .main-nav__toggle span::after {
        bottom: -9px;
        transition-property: bottom, -webkit-transform;
        transition-property: bottom, transform;
        transition-property: bottom, transform, -webkit-transform; }
    .main-nav__toggle--active span {
      background: none; }
      .main-nav__toggle--active span::before {
        top: 0;
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
        transition-delay: 0s, 0.2s; }
      .main-nav__toggle--active span::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
        transition-delay: 0s, 0.2s; }

/*Обо мне и мои проекты*/
.section-toggler {
  padding: 20px;
  min-height: 90px;
  width: 100%; }
  .section-toggler__wrapper {
    width: auto;
    display: flex;
    flex-direction: column; }
  .section-toggler__button {
    text-decoration: none;
    outline: none;
    padding: 20px 30px;
    background-color: white;
    color: black;
    transition: 0.8s;
    width: 100%;
    min-height: 100px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; }
    .section-toggler__button:hover {
      background-color: #6abfbf;
      border: none; }
    .section-toggler__button--left {
      text-align: left; }
    .section-toggler__button--right {
      text-align: right; }
    .section-toggler__button--active {
      background-color: black;
      color: white;
      order: 1; }

/*list of the skills*/
.list {
  margin: 0 auto; }
  .list__item {
    min-height: 100px;
    margin-bottom: 30px;
    text-align: center; }
  .list__icon {
    width: 45px;
    height: 45px;
    font-size: 40px;
    color: #6d0000;
    opacity: 0.7;
    background-size: cover;
    display: inline-block; }
    .list__icon--astronaut {
      background-image: url("../img/icons/astronaut.svg"); }
    .list__icon--study {
      background-image: url("../img/icons/study.svg"); }
    .list__icon--heart {
      background-image: url("../img/icons/heart.svg"); }
    .list__icon--yin-yang {
      background-image: url("../img/icons/yin-yang.svg"); }
    .list__icon--tasks {
      background-image: url("../img/icons/tasks.svg"); }
    .list__icon--baby {
      background-image: url("../img/icons/baby.svg"); }
  .list__text {
    font-size: 20px;
    font-weight: bold; }

/*моя биография поподробнее*/
.button {
  text-transform: uppercase;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  width: 80%; }
  .button:hover {
    background-color: black;
    color: white;
    transition: 0.4s; }
  .button:active {
    background-color: black;
    color: #c5c5c5; }
  .button:focus {
    background-color: black;
    color: #c5c5c5; }

.button-up {
  width: 30px;
  height: 30px;
  border: 1px solid #000000;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  position: fixed;
  left: 30px;
  bottom: 45px;
  opacity: 0;
  padding: 1px 0 0 0; }
  .button-up__arrow {
    border-color: transparent #000000 #000000 transparent;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg); }
  .button-up:hover, .button-up:active {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.3s; }
    .button-up:hover .button-up__arrow, .button-up:active .button-up__arrow {
      border-color: transparent #ffffff #ffffff transparent;
      transition: 0.3s; }

.social-links {
  text-align: center; }

.social-icon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-size: cover;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-right: 0.8rem; }
  .social-icon:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .social-icon--gh {
    background-image: url("../img/social/gh.svg"); }
  .social-icon--fb {
    background-image: url("../img/social/fb.svg"); }
  .social-icon--vk {
    background-image: url("../img/social/vk.svg"); }
  .social-icon--in {
    background-image: url("../img/social/in.svg"); }

.modal {
  display: none;
  position: fixed;
  z-index: 3000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 139, 139, 0.9); }
  .modal__close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer; }
  .modal__content {
    position: relative;
    z-index: 5000;
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    height: auto;
    line-height: 1.5;
    padding: 20px;
    padding-top: 40px;
    font-size: 14px; }
  .modal__header {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center; }
  .modal__paragraph {
    margin-bottom: 30px; }
  .modal__list {
    margin-bottom: 30px; }
  @media (min-width: 768px) {
      .page-header__wrapper {
        width: 86%;
        max-width: 960px;
        margin: 0 auto; }
      .page-header__wrapper {
        padding-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 80px;
        text-align: left; }
      .page-header__logo {
        padding-right: 0px;
        text-align: center; }
    .presentation {
      padding-top: 50px;
      background-image: url("../img/cuadros2.svg");
      background-size: 8%; }
      .presentation__wrapper {
        width: 86%;
        max-width: 960px;
        margin: 0 auto; }
      .presentation__wrapper {
        padding-top: 40px; }
      .presentation__name {
        font-size: 40px;
        margin-bottom: 150px; }
      .presentation__object {
        font-size: 20px;
        margin-bottom: 60px;
        width: 60%; }
    .info {
      padding: 0;
      padding-top: 40px; }
      .info__wrapper {
        width: 86%;
        max-width: 960px;
        margin: 0 auto; }
      .info__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; }
      .info__header {
        font-size: 30px;
        margin-bottom: 40px;
        flex-basis: 100%; }
      .info__column {
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch; }
      .info__text {
        font-size: 20px; }
      .info__advantages-list {
        font-size: 20px; }
    .projects {
      padding: 0;
      padding-top: 20px; }
    .projects__wrapper {
      padding: 0;
      padding-top: 20px;
      width: auto; }
      .projects__name-link {
        font-size: 28px;
        margin-bottom: 20px; }
      .projects__description {
        font-size: 20px; }
  .project {
    padding: 0;
    padding-top: 20px; }
    .project__wrapper {
      padding: 0;
      padding-top: 20px;
      width: auto; }
    .project__title {
      font-size: 28px;
      margin-bottom: 20px; }
    .project__description {
      font-size: 20px; }
    .project__image {
      width: 50%; }
    .skills {
      padding: 0;
      padding-top: 30px; }
      .skills__wrapper {
        width: 50%;
        padding: 0;
        padding-top: 80px;
        width: auto; }
      .skills__header {
        font-size: 30px;
        margin-bottom: 40px; }
      .page-footer__wrapper {
        padding: 0;
        padding-top: 30px; }
    .main-nav {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      flex-grow: 0.8;
      align-self: stretch; }
    .main-nav__list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end; }
      .main-nav__link {
        padding: 0;
        border-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center; }
      .main-nav__toggle {
        display: none; }
    .section-toggler {
      padding: 0;
      padding-top: 20px; }
      .section-toggler__wrapper {
        width: 86%;
        max-width: 960px;
        margin: 0 auto; }
      .section-toggler__wrapper {
        flex-direction: row; }
        .section-toggler__button--active {
          order: 0; }
    .list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .list__item {
        width: 50%;
        margin-bottom: 50px; }
    .button {
      font-size: 16px; }
    .button-up {
      border-width: 2px;
      width: 45px;
      height: 45px;
      left: 30px;
      bottom: 75px;
      padding: 7px 0 0 0; }
      .button-up__arrow {
        padding: 4px;
        border-width: 2px; }
      .modal__content {
        padding-top: 40px;
        font-size: 20px; }
      .modal__header {
        font-size: 30px;
        margin-bottom: 40px; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .projects__wrapper {
      width: 86%;
      max-width: 960px;
      margin: 0 auto; }
    .project__wrapper {
      width: 86%;
      max-width: 960px;
      margin: 0 auto; }
    .skills__wrapper {
      width: 86%;
      max-width: 960px;
      margin: 0 auto; } }
  @media (min-width: 1200px) {
      .page-header__wrapper {
        width: 91%;
        max-width: 1050px;
        margin: 0 auto; }
      .page-header__wrapper {
        min-height: 90px; }
    .presentation {
      padding-top: 70px; }
      .presentation__wrapper {
        width: 91%;
        max-width: 1050px;
        margin: 0 auto; }
      .presentation__name {
        font-size: 50px;
        margin-bottom: 180px; }
      .presentation__object {
        font-size: 24px;
        margin-bottom: 75px; }
      .info__wrapper {
        width: 91%;
        max-width: 1050px;
        margin: 0 auto; }
      .info__header {
        font-size: 36px;
        margin-bottom: 50px; }
      .info__text {
        font-size: 24px; }
      .info__advantages-list {
        font-size: 24px; }
      .projects__name-link {
        font-size: 32px;
        margin-bottom: 30px; }
      .projects__description {
        font-size: 24px; }
    .project__title {
      font-size: 32px;
      margin-bottom: 30px; }
    .project__description {
      font-size: 24px; }
      .skills__wrapper {
        padding-top: 130px; }
      .skills__header {
        font-size: 36px;
        margin-bottom: 50px; }
      .section-toggler__wrapper {
        width: 91%;
        max-width: 1050px;
        margin: 0 auto; }
    .list {
      width: 85%; }
      .list__item {
        margin-bottom: 60px; }
    .button {
      font-size: 18px; }
    .button-up {
      left: 20px; }
      .modal__content {
        font-size: 24px; }
      .modal__header {
        font-size: 36px;
        margin-bottom: 50px; } }
  @media (min-width: 768px) and (min-width: 1200px) {
    .projects__wrapper {
      width: 91%;
      max-width: 1050px;
      margin: 0 auto; }
    .project__wrapper {
      width: 91%;
      max-width: 1050px;
      margin: 0 auto; }
    .skills__wrapper {
      width: 91%;
      max-width: 1050px;
      margin: 0 auto; } }
