.info {
    width:100%;
    line-height: 1.5;
    padding: 20px;
    padding-top: 40px;

    @media ($tablet-widths) {
        padding: 0;
        padding-top: 40px;
    }

    &__wrapper {
        
        @include container;
       
        @media ($tablet-widths) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    &__header {
        font-size: 24px;
        text-align: left;
        margin-bottom: 20px;

        @media ($tablet-widths) {
            font-size: 30px;
            margin-bottom: 40px;
            flex-basis: 100%;
        }
    
        @media ($desktop-widths) {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }

    &__column {
        text-align: center;
        @media ($tablet-widths) {
            width: 50%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            align-content: stretch;
        }
    }

    &__text {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: left;
        @media ($tablet-widths) {
            font-size: 22px;
        }
    
        @media ($desktop-widths) {
            font-size: 26px;
        }
    }

    &__advantages-list {
        font-size: 18px;
        margin-bottom: 30px;
        text-align: left;
        @media ($tablet-widths) {
            font-size: 22px;
        }
    
        @media ($desktop-widths) {
            font-size: 26px;
        }
    }

    &__foto {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
    }
}